<div class="col-md-6 col-md-offset-3">
     <h1><%= resource_name.to_s.humanize %> Statistics</h1>

     <h3>Already seen series:</h3>
     <%if !current_user.watchedseries.blank?%>
		<% current_user.watchedseries.split(",").each  do  |s|%>
          	<p><%=Movie.find(s).title%></p>           
	    <%end%>
    <%else%>			
		<p>None</p>
    <%end%>

 	<h3>Incomplete series:</h3>
    <%if !current_user.watchedchapters.blank?%>
		<% current_user.watchedchapters.split(",").each  do  |s|%>
          	<p><%=Chapter.find(s)%></p>           
	    <%end%>
    <%else%>
		<p>None</p>
    <%end%>

 	<h3>Total Time Spent:</h3>
		<%total = 0%>
		<% Movie.all.each  do  |m|%>
			<% if current_user.watchedseries.split(",").include?(m.id.to_s)%>
				<% m.chapters.each do |c|%>
					<%total += c.duration%>
				<%end%>
			<%else%>
				<% m.chapters.each do |c|%>
					<%if current_user.watchedchapters.split(",").include?(c.id.to_s)%>
						<%total += c.duration%>
					<%end%>
				<%end%>
    		<%end%>
    	<%end%>
    	<p><%= total%> minutes</p>


	<h3>
    Download:
  	<%= link_to "CSV", users_path(format: "csv") %> 
	</h3>
    </div>
</div>
