<% if user_signed_in? %>
<div class="col-md-6 col-md-offset-3">
     <h1><%= resource_name.to_s.humanize %> Statistics</h1>

     <h3>Already seen series:</h3>
     <%if !current_user.watchedseries.blank?%>
		<% current_user.watchedseries.split(",").each  do  |s|%>
          	<p><%=Movie.find(s).title%></p>
	    <%end%>
    <%else%>
		<p>None</p>
    <%end%>

 	<h3>Incomplete series:</h3>
    <%if !current_user.watchedchapters.blank?%>
		<% current_user.watchedchapters.split(",").each  do  |s|%>
          	<p><%=Chapter.find(s).movie.title%></p>
	    <%end%>
    <%else%>
		<p>None</p>
    <%end%>

 	<h3>Total Time Spent:</h3>
    <%if !current_user.watchedchapters.blank?%>
		<% current_user.watchedchapters.split(",").each  do  |s|%>
          	<p>SUMAR ESTO <%=Chapter.find(s).duration%></p>
	    <%end%>
    <%end%>

	<h3>
    Download:
  	<%= link_to "CSV", users_path(format: "csv") %>
	</h3>
    </div>
</div>

<%end%>
