<br>

<h2><%= article.title %></h2>

<p><%= article.content %></p>

<% if user_signed_in? %>

	<% if article.user_id == current_user.id%>	
		<%= link_to 'Delete Article', article_path(article),method: :delete, data: { confirm: 'Are you sure you want to delete '+article.title+'?' } , :class => "btn btn-danger"  %>
	<%end%>

<%end%>

<p> <%=User.find(article.user_id).name%> at <%=article.created_at.to_time.strftime('%B %e %l:%M %p')%> </p>


<br>


