<%= simple_form_for @article do |f|%>

	<p><%= f.input :title %></p>
	<p><%= f.input :content %></p>
   	<p><%= f.input :tag, collection: Movie.all %></p>

 	<p><%= f.button :submit %></p>

<% end %>

