<div class="col-md-6 col-md-offset-3">
    <div class="series-info">
    <h1 class="series-title">
    <%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show" %>

        <strong>Title:</strong>
        <%= @movie.title %>

    </h1>
    <h1 class="series-author">
        <strong>Category:</strong>
        <%= @movie.category.name %>
    </h1>

    <p class="series-desc">

        <strong>Description:</strong>
        <%= @movie.description %>

    </p>

    <p>
      <strong>Country:</strong>
      <%=  country = ISO3166::Country[@movie.country]
    country.translations[I18n.locale.to_s] || country.name %>
    </p>

    <p>
      <strong>Actor:</strong>
      <%= @movie.actor %>
    </p>

    <p>
        <strong>Country:</strong>
        <%=  country = ISO3166::Country[@movie.country]
country.translations[I18n.locale.to_s] || country.name %>
    </p>

    <p>
        <strong>Actor:</strong>
        <%= @movie.actor %>
    </p>

    <p>
        <strong>Director:</strong>
        <%= @movie.director %>
    </p>

    <p>
        <strong>Number of chapters:</strong>
        <%= @movie.n_chapter %>
    </p>

    <p>
        <strong>Number of seasons:</strong>
        <%= @movie.n_season %>
    </p>

    <p>
        <strong>Start Year:</strong>
        <%= @movie.start_year %>
    </p>

    <p>
        <strong>Finish Year:</strong>
        <%= @movie.finish_year %>
    </p>

    <% if can? :update, Movie %>

    <%= link_to 'Edit', edit_movie_path(@movie), :class => "btn btn-primary"  %>
    <% end %>
    <% if can? :destroy, Movie %>
    <%= link_to 'Delete', movie_path(@movie),method: :delete, data: { confirm: 'Are you sure you want to delete '+@movie.title+'?' } , :class => "btn btn-danger"  %>
    <% end %>
    
    <%= render @book.reviews %>
    <%= link_to 'Add Review', new_movie_review_path(@movie), :class => "btn btn-primary"  %>

       <br><br>

    <%= link_to 'Back to index', movies_path, :class => "btn btn-info"  %>
  </div>
</div>

