<p> <%=User.find(new.user_id).name%> at <%=new.created_at.to_time.strftime('%B %e %l:%M %p')%> </p>


<p><%= new.content %></p>

<% if user_signed_in? %>

	<% if new.user_id == current_user.id%>

	<p>
		<%= link_to "Edit", edit_new_path(new), :class => "btn btn-primary"%>
		<%= link_to "Delete", new_path(new), method: :delete, data:{ confirm: "Are you sure?"}, :class => "btn btn-danger"%>
</p>
	<%end%>
<%end%>
